.creative-landing {
  box-sizing: border-box;




  &__meida {
    margin: 0px;
    width: 100%;
    height: 75vh;

    & iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__section {
    margin: 0px;
    padding: 0px;



    &-two {
      &__content {
        padding-top: 96px;
        padding-left: 308px;
        padding-right: 308px;
        text-align: left;
        background: #F8FBFF;

        & h3 {
          text-align: left;
          font: normal normal normal 26px/35px;
          margin-bottom: 32px;
        }

        p {
          margin-bottom: 45px;
          ;
        }
      }

      &__members {

        & .user-info {
          justify-content: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          margin-right: 30px;
          height: 70px;
          width: 70px;
          margin-bottom: 96px;

          & img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
          }

          & span {
            font-size: 10px;
            font-weight: bold;
            text-align: center;
          }
        }
      }

    }

    &-three {

      &_routing {
        position: relative;
        border-bottom: 2px solid lightblue;
        margin-bottom: 110px;

        // & .sperator {
        //   position: relative;
        //   height: 1px;
        //   top: -36px;
        //   z-index: 1;
        // }


        & .routing-links {
          padding-left: 405px;
          padding-top: 33px;
          position: relative;

          & p {
            cursor: pointer;
            margin-right: 45px;
            padding-bottom: 20px;
            font-size: 12px;
            border-radius: 5px;
            z-index: 3;
            align-items: center;
            justify-content: center;
            display: flex;

            & span {
              position: absolute;
              bottom: -2px;
              width: 17%;
              height: 5px;
              border-radius: 20px;
              background: #0FBFB3;
              visibility: hidden;

            }

            &:hover>span,
            &.active>span {
              visibility: visible;

            }
          }
        }
      }
    }
  }
}

@media (min-width: 1299px) {

  .creative-landing {
    &__section {
      &-three {

        &_routing {
          margin-bottom: calc(100% - 95%);

          & .routing-links {
            padding-left: calc(100% - 70%);
            text-align: center;

            & p {
              font-size: 18px;
              margin-right: calc(100% - 90%);
            }
          }
        }
      }

    }
  }
}

@media (max-width: 1298px) {

  .creative-landing {
    &__section {
      &-three {

        &_routing {
          margin-bottom: calc(100% - 95%);

          & .routing-links {
            padding-left: calc(100% - 70%);
            text-align: center;

            & p {
              font-size: 18px;
              margin-right: calc(100% - 90%);
            }
          }
        }
      }

    }
  }
}

@media (max-width: 997px) {

  .creative-landing {
    &__section {
      &-two {
        &__content {
          padding-left: calc(100% - 86%);
          padding-right: calc(100% - 89%);
          background: #F8FBFF;
        }

        &__members {
          & .user-info {
            margin-right: calc(100% - 91%);
          }
        }

      }

      &-three {

        &_routing {
          margin-bottom: calc(100% - 95%);

          & .routing-links {
            padding-left: calc(100% - 90%);
            text-align: center;

            & p {
              font-size: 18px;
              margin-right: calc(100% - 90%);
            }
          }
        }
      }

    }
  }
}

@media (max-width: 768px) {

  .creative-landing {

    &__meida {
      width: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__section {
      &-two {
        &__content {
          padding-left: calc(100% - 86%);
          padding-right: calc(100% - 89%);
          background: #F8FBFF;
        }

        &__members {
          & .user-info {
            margin-right: calc(100% - 91%);
          }
        }

      }

      &-three {

        &_routing {
          margin-bottom: calc(100% - 95%);

          & .routing-links {
            padding-left: calc(100% - 93%);
            text-align: center;

            & p {
              font-size: 18px;
              margin-right: calc(100% - 93%);
            }
          }
        }
      }

    }
  }
}

@media (max-width: 541px) {

  .creative-landing {

    &__section {
      &-three {
        &_routing {
          & .routing-links {
            padding-left: calc(100% - 87%);

            text-align: center;

            & p {
              font-size: 14px;
              margin-right: calc(100% - 87%);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 541px) {

  .creative-landing {

    &__section {
      &-three {
        &_routing {
          & .routing-links {
            padding-left: calc(100% - 95%);

            text-align: center;

            & p {
              font-size: 14px;
              margin-right: calc(100% - 90%);
            }
          }
        }
      }
    }
  }
}
